body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    margin: 40 px; 
    color: grey;
}

h1 {
    background-color:darkslategray;
    color: white;
    padding: 20px;
    border-radias: 15px;
    text-align: center;
}

table{

}

th, td {

}

th {

}

a {

}

a:hover {

}