body {
    background-color: rgb(236, 235, 232);
    font-family: Arial, sans-serif;
    margin: 80px; 
    color: grey;
}

h1 {
    background-color:rgb(220, 154, 236);
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

table{
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid rgb(201, 195, 195);
}

th, td {
    border: 1px solid rgb(63, 60, 60);
    padding: 12px;
    text-align: left;
}

th {
    background-color: rgb(221, 215, 215);
}

a {
    color: rgb(240, 116, 240);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}