body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 80px; 
    color: rgb(32, 31, 31);
}

h1 {
    background-color:rgb(220, 154, 236);
    color: rgb(79, 26, 226);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

table{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid rgb(223, 156, 211);
}

th, td {
    border: 1px solid rgb(63, 60, 60);
    padding: 12px;
    text-align: left;
}

th {
    background-color: rgb(177, 182, 221);
}

a {
    color: rgb(240, 116, 240);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}